In [1]:
from pyspark import SparkContext,SparkConf
from pyspark.sql import SQLContext

In [2]:
def getSqlContext():
    sc = SparkContext.getOrCreate()
    sqlContext = SQLContext(sc)
    return sqlContext

In [3]:
def dataBaseConfig(db, host="localhost", porta=3306, usuario="root",senha="root"):
    hostname = host
    dbname = db
    jdbcPort = porta
    username = usuario
    password = senha
    jdbc_url = "jdbc:mysql://{0}:{1}/{2}?useTimezone=true&serverTimezone=UTC&user={3}&password={4}".format(hostname,jdbcPort, dbname,username,password)    
    return jdbc_url

In [4]:
def execQuery(query, jdbc_url):
    df = sqlContext.read.format('jdbc').options(driver = 'com.mysql.jdbc.Driver',url=jdbc_url, dbtable=query).load()
    return df

In [5]:
sqlContext = getSqlContext()
jdbc_url = dataBaseConfig('sakila')

In [ ]:
query = "(select * from actor order by first_name) t1_alias"
df1 = execQuery(query, jdbc_url)

In [59]:
#df1 = sqlContext.read.format('jdbc').options(driver = 'com.mysql.jdbc.Driver',url=jdbc_url, dbtable=query ).load()
df1.show()

+--------+----------+-----------+-------------------+
|actor_id|first_name|  last_name|        last_update|
+--------+----------+-----------+-------------------+
|      71|      ADAM|      GRANT|2006-02-15 01:34:33|
|     132|      ADAM|     HOPPER|2006-02-15 01:34:33|
|     165|        AL|    GARLAND|2006-02-15 01:34:33|
|     173|      ALAN|   DREYFUSS|2006-02-15 01:34:33|
|     125|    ALBERT|      NOLTE|2006-02-15 01:34:33|
|     146|    ALBERT|  JOHANSSON|2006-02-15 01:34:33|
|      29|      ALEC|      WAYNE|2006-02-15 01:34:33|
|      65|    ANGELA|     HUDSON|2006-02-15 01:34:33|
|     144|    ANGELA|WITHERSPOON|2006-02-15 01:34:33|
|      76|  ANGELINA|    ASTAIRE|2006-02-15 01:34:33|
|      49|      ANNE|     CRONYN|2006-02-15 01:34:33|
|      34|    AUDREY|    OLIVIER|2006-02-15 01:34:33|
|     190|    AUDREY|     BAILEY|2006-02-15 01:34:33|
|     196|      BELA|     WALKEN|2006-02-15 01:34:33|
|      83|       BEN|     WILLIS|2006-02-15 01:34:33|
|     152|       BEN|     HARRIS|2006-02-15 01:34:33|
|       6|     BETTE|  NICHOLSON|2006-02-15 01:34:33|
|      19|       BOB|    FAWCETT|2006-02-15 01:34:33|
|      36|      BURT|    DUKAKIS|2006-02-15 01:34:33|
|      75|      BURT|      POSEY|2006-02-15 01:34:33|
+--------+----------+-----------+-------------------+
only showing top 20 rows