In [1]:
from pyspark import SparkContext,SparkConf
from pyspark.sql import SQLContext

In [2]:
def getSqlContext():
    sc = SparkContext.getOrCreate()
    sqlContext = SQLContext(sc)
    return sqlContext

In [3]:
def dataBaseConfig(db, host="localhost", porta=3306, usuario="root",senha="root123"):
    hostname = host
    dbname = db
    jdbcPort = porta
    username = usuario
    password = senha
    jdbc_url = "jdbc:mysql://{0}:{1}/{2}?useTimezone=true&serverTimezone=UTC&user={3}&password={4}".format(hostname,jdbcPort, dbname,username,password)    
    return jdbc_url

In [4]:
def execQuery(query, jdbc_url):
    df = sqlContext.read.format('jdbc').options(driver = 'com.mysql.jdbc.Driver',url=jdbc_url, dbtable=query).load()
    return df

In [5]:
sqlContext = getSqlContext()
jdbc_url = dataBaseConfig('sakila')

In [6]:
query = "(select * from actor order by first_name) t1_alias"
df1 = execQuery(query, jdbc_url)

Py4JJavaError: An error occurred while calling o41.load.
: java.lang.ClassNotFoundException: com.mysql.jdbc.Driver
	at java.net.URLClassLoader.findClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:45)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$5.apply(JDBCOptions.scala:99)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions$$anonfun$5.apply(JDBCOptions.scala:99)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:99)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:35)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:32)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:318)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:223)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:167)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Unknown Source)

In [59]:
#df1 = sqlContext.read.format('jdbc').options(driver = 'com.mysql.jdbc.Driver',url=jdbc_url, dbtable=query ).load()
df1.show()

+--------+----------+-----------+-------------------+
|actor_id|first_name|  last_name|        last_update|
+--------+----------+-----------+-------------------+
|      71|      ADAM|      GRANT|2006-02-15 01:34:33|
|     132|      ADAM|     HOPPER|2006-02-15 01:34:33|
|     165|        AL|    GARLAND|2006-02-15 01:34:33|
|     173|      ALAN|   DREYFUSS|2006-02-15 01:34:33|
|     125|    ALBERT|      NOLTE|2006-02-15 01:34:33|
|     146|    ALBERT|  JOHANSSON|2006-02-15 01:34:33|
|      29|      ALEC|      WAYNE|2006-02-15 01:34:33|
|      65|    ANGELA|     HUDSON|2006-02-15 01:34:33|
|     144|    ANGELA|WITHERSPOON|2006-02-15 01:34:33|
|      76|  ANGELINA|    ASTAIRE|2006-02-15 01:34:33|
|      49|      ANNE|     CRONYN|2006-02-15 01:34:33|
|      34|    AUDREY|    OLIVIER|2006-02-15 01:34:33|
|     190|    AUDREY|     BAILEY|2006-02-15 01:34:33|
|     196|      BELA|     WALKEN|2006-02-15 01:34:33|
|      83|       BEN|     WILLIS|2006-02-15 01:34:33|
|     152|       BEN|     HARRIS|2006-02-15 01:34:33|
|       6|     BETTE|  NICHOLSON|2006-02-15 01:34:33|
|      19|       BOB|    FAWCETT|2006-02-15 01:34:33|
|      36|      BURT|    DUKAKIS|2006-02-15 01:34:33|
|      75|      BURT|      POSEY|2006-02-15 01:34:33|
+--------+----------+-----------+-------------------+
only showing top 20 rows