In [1]:
import sys
from pyspark.sql import SparkSession

In [2]:
def getCollection(collection, database="m3bg1", ip="127.0.0.1"):
    url = "mongodb://{0}/{1}.{2}".format(ip,database,collection)
    readCollection = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri",url).load()
    return readCollection

In [3]:
def execSQL(sql):
    result = spark.sql(sql)
    return result

In [4]:
city = getCollection("city")
city.printSchema()
#city = spark.read.format("com.mongodb.spark.sql.DefaultSource").
#       option("uri","mongodb://127.0.0.1/m3bg1.city").load()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- city_geo: struct (nullable = true)
 |    |-- type: string (nullable = true)
 |    |-- coordinates: array (nullable = true)
 |    |    |-- element: array (containsNull = true)
 |    |    |    |-- element: array (containsNull = true)
 |    |    |    |    |-- element: array (containsNull = true)
 |    |    |    |    |    |-- element: double (containsNull = true)
 |-- city_pk: long (nullable = true)

In [5]:
customer = getCollection("customer")
customer.printSchema()
#customer = spark.read.format("com.mongodb.spark.sql.DefaultSource").
#           option("uri","mongodb://127.0.0.1/m3bg1.customer").load()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- c_address: string (nullable = true)
 |-- c_address_fk: long (nullable = true)
 |-- c_city: string (nullable = true)
 |-- c_city_fk: long (nullable = true)
 |-- c_custkey: long (nullable = true)
 |-- c_mktsegment: string (nullable = true)
 |-- c_name: string (nullable = true)
 |-- c_nation: string (nullable = true)
 |-- c_nation_fk: long (nullable = true)
 |-- c_phone: string (nullable = true)
 |-- c_region: string (nullable = true)
 |-- c_region_fk: long (nullable = true)

In [6]:
## Utilizando sql
city.createOrReplaceTempView("temp_city")
customer.createOrReplaceTempView("temp_customer")

In [7]:
sql_city = execSQL("SELECT c_city AS CITY, c_phone AS PHONE, c_nation AS NATION, c_region AS REGION FROM temp_customer WHERE c_nation like 'MOROCCO%'")
sql_city.show()

+----------+---------------+---------------+------------+
|      CITY|          PHONE|         NATION|      REGION|
+----------+---------------+---------------+------------+
|MOROCCO  4|25-214-662-5265|MOROCCO        |AFRICA      |
|MOROCCO  9|25-147-618-6671|MOROCCO        |AFRICA      |
|MOROCCO  5|25-807-330-7311|MOROCCO        |AFRICA      |
|MOROCCO  5|25-907-645-7902|MOROCCO        |AFRICA      |
|MOROCCO  0|25-610-774-8986|MOROCCO        |AFRICA      |
|MOROCCO  6|25-532-817-5775|MOROCCO        |AFRICA      |
|MOROCCO  5|25-775-409-8894|MOROCCO        |AFRICA      |
|MOROCCO  9|25-285-327-1393|MOROCCO        |AFRICA      |
|MOROCCO  6|25-994-342-8080|MOROCCO        |AFRICA      |
|MOROCCO  5|25-546-227-2477|MOROCCO        |AFRICA      |
|MOROCCO  1|25-623-108-3568|MOROCCO        |AFRICA      |
|MOROCCO  1|25-772-339-4630|MOROCCO        |AFRICA      |
|MOROCCO  3|25-563-852-5555|MOROCCO        |AFRICA      |
|MOROCCO  0|25-340-429-8617|MOROCCO        |AFRICA      |
|MOROCCO  6|25-727-213-7772|MOROCCO        |AFRICA      |
|MOROCCO  1|25-837-433-1935|MOROCCO        |AFRICA      |
|MOROCCO  7|25-237-892-2754|MOROCCO        |AFRICA      |
|MOROCCO  5|25-362-625-5071|MOROCCO        |AFRICA      |
|MOROCCO  6|25-731-874-4632|MOROCCO        |AFRICA      |
|MOROCCO  3|25-160-190-5726|MOROCCO        |AFRICA      |
+----------+---------------+---------------+------------+
only showing top 20 rows

In [8]:
sql_join = execSQL("SELECT ct.city_pk as cityPK, c.c_city as city, c.c_name as cName, c.c_nation as cNation FROM temp_customer c JOIN temp_city ct ON (c.c_city_fk = ct.city_pk)")
sql_join.show()

+------+----------+------------------+---------------+
|cityPK|      city|             cName|        cNation|
+------+----------+------------------+---------------+
|    26|CANADA   5|Customer#000000343|CANADA         |
|    26|CANADA   5|Customer#000000863|CANADA         |
|    26|CANADA   5|Customer#000000988|CANADA         |
|    26|CANADA   5|Customer#000001241|CANADA         |
|    26|CANADA   5|Customer#000001258|CANADA         |
|    26|CANADA   5|Customer#000001358|CANADA         |
|    26|CANADA   5|Customer#000001450|CANADA         |
|    26|CANADA   5|Customer#000001673|CANADA         |
|    26|CANADA   5|Customer#000001701|CANADA         |
|    26|CANADA   5|Customer#000001717|CANADA         |
|    26|CANADA   5|Customer#000002648|CANADA         |
|    26|CANADA   5|Customer#000003573|CANADA         |
|    26|CANADA   5|Customer#000003589|CANADA         |
|    26|CANADA   5|Customer#000003658|CANADA         |
|    26|CANADA   5|Customer#000003917|CANADA         |
|    26|CANADA   5|Customer#000004207|CANADA         |
|    26|CANADA   5|Customer#000004263|CANADA         |
|    26|CANADA   5|Customer#000004685|CANADA         |
|    26|CANADA   5|Customer#000004785|CANADA         |
|    26|CANADA   5|Customer#000005215|CANADA         |
+------+----------+------------------+---------------+
only showing top 20 rows